language:
    - cpp
compiler:
    - clang
    - gcc
dist:
    - trusty
group: edge
cache:
    directories:
    - cache
before_install:
    - cd $TRAVIS_BUILD_DIR
    - sudo apt-get update -qq -y
    - sudo apt-get install -y gfortran
    - sudo apt-get install -y lcov
    - mkdir -p cache
    - git clone -q --branch v0.2.20 --depth 1 https://github.com/xianyi/OpenBLAS cache/openblas || true
    - cd cache/openblas
    - git pull
    - mkdir -p build
    - make && make PREFIX=$TRAVIS_BUILD_DIR/cache/openblas-build install
script:
    - cd $TRAVIS_BUILD_DIR
    - make CFLAGS="-Wall -DACCELERATE_BLAS -I$TRAVIS_BUILD_DIR/cache/openblas-build/include" LFLAGS="-L$TRAVIS_BUILD_DIR/cache/openblas-build/lib -Wl,-rpath,$TRAVIS_BUILD_DIR/cache/openblas-build/lib" test
after_success:
    - cd $TRAVIS_BUILD_DIR
    - lcov -c -d obj -o obj/lcov.info
    - bash <(curl -s https://codecov.io/bash) -X gcov -f obj/lcov.info
